<form ng-submit="searchComics()" class="form-wrapper cf">
    <input id="search" ng-model="formData.name" type="text" class="black-text" placeholder="Search Marvel comics by character.." required>
    <button id="submit" type="submit">Search</button>
</form>
<div ng-switch="searchChar">
    <div ng-switch-when="fail">
        <span class="help-block">{{ errorMsg }}</span>
    </div>
    <div ng-switch-when="success" class="reveal-animation">
        <div class="results" ng-repeat="comic in comics track by $index">
            <div class="result-title">
                <span>{{$index + 1}} - {{comic.title}}</span>
            </div>
            <div id="result-box" class="result-link-box">
                <a class="result-link" href="{{ comic.url }}" target="_blank">{{comic.url | limitTo: 200}}</a>
            </div>
            <div class="result-desc">
                <span>{{comic.desc}}</span>
            </div>
            <br>
        </div>
    </div>
</div>
